.main {
    background: #CACFD2;
  }
  #title {
    text-align: center;
    background: ;
  }
  #img-div {
    text-align: center;
    display: inline block; 
    }
  
    #image {
    max-width: 100vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    }
  #tribute-info {
  text-align: left;
  width: 50%;
  position:relative;
  left: 20%;
  line-height: 1.5;
  }
  h3 {
    text-align: center; 
  }
  li {
    margin: 10px;
  }